## 处理population 2017文件

In [19]:
import pandas as pd
df = pd.read_csv('./geo/population_summary_lga_2017.csv')
df

,state_code,females_num,persons_num,lga_code17,median_female_age,state_name,median_persons_age,sex_ratio,percentage_person_aged_15_64,median_male_age,percentage_person_aged_0_14,percentage_person_aged_65_plus,males_num,lga_name17
0,1,27246,52949,10050,39.6,New South Wales,38.4,94.3,63.1,36.9,19.4,17.6,25703,Albury (C)
1,1,15739,30594,10130,36.5,New South Wales,35.6,94.4,65.4,34.6,18.1,16.5,14855,Armidale Regional (A)
2,1,22505,43457,10250,48.5,New South Wales,47.2,93.1,58.3,45.8,16.9,24.8,20952,Ballina (A)
3,1,1141,2341,10300,40.6,New South Wales,40.3,105.2,62.5,39.9,20.7,16.8,1200,Balranald (A)
4,1,21292,42779,10470,38.1,New South Wales,36.5,100.9,64.2,35.1,19.8,16.1,21487,Bathurst Regional (A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,7,3388,6933,74660,29.4,Northern Territory,28.9,104.6,72.0,28.4,25.2,2.8,3545,West Arnhem (R)
540,7,1860,3618,74680,26.0,Northern Territory,25.1,94.5,66.5,24.0,31.9,1.7,1758,West Daly (R)
541,7,3368,7461,79399,33.3,Northern Territory,34.7,121.5,72.1,36.0,21.3,6.6,4093,Unincorporated NT
542,8,207881,411667,89399,35.7,Australian Capital Territory,35.0,98.0,68.5,34.4,19.0,12.5,203786,Unincorporated ACT
543,9,2116,4621,99399,44.1,Other Territories,42.9,118.4,66.6,41.7,17.5,15.9,2505,Unincorp. Other Territories

In [20]:

print(df.columns)

Index(['state_code', ' females_num', ' persons_num', ' lga_code17',
       ' median_female_age', ' state_name', ' median_persons_age',
       ' sex_ratio', ' percentage_person_aged_15_64', ' median_male_age',
       ' percentage_person_aged_0_14', ' percentage_person_aged_65_plus',
       ' males_num', ' lga_name17'],
      dtype='object')

In [21]:
victoria_data = df[df[' state_name'] == 'Victoria']
victoria_data

,state_code,females_num,persons_num,lga_code17,median_female_age,state_name,median_persons_age,sex_ratio,percentage_person_aged_15_64,median_male_age,percentage_person_aged_0_14,percentage_person_aged_65_plus,males_num,lga_name17
123,2,6367,12639,20110,49.0,Victoria,48.5,98.5,60.0,48.1,16.3,23.7,6272,Alpine (S)
124,2,5471,11757,20260,47.4,Victoria,46.1,114.9,61.1,44.8,16.2,22.6,6286,Ararat (RC)
125,2,54284,105438,20570,38.9,Victoria,37.3,94.2,63.6,35.6,19.5,16.8,51154,Ballarat (C)
126,2,65867,129125,20660,40.4,Victoria,39.1,96.0,64.5,37.8,18.4,17.1,63258,Banyule (C)
127,2,17564,34390,20740,49.9,Victoria,49.0,95.8,56.1,47.9,17.0,26.9,16826,Bass Coast (S)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,2,77668,151439,22310,37.5,Victoria,36.5,95.0,66.9,35.5,18.4,14.7,73771,Glen Eira (C)
205,2,9836,19695,22410,47.5,Victoria,47.4,100.2,61.2,47.3,16.3,22.5,9859,Glenelg (S)
206,2,11079,22574,22490,38.9,Victoria,39.0,103.8,64.1,39.1,22.8,13.1,11495,Golden Plains (S)
207,2,58272,114111,22620,39.3,Victoria,38.3,95.8,63.1,37.1,19.5,17.4,55839,Greater Bendigo (C)
208,2,79537,163514,22670,35.5,Victoria,34.7,105.6,67.7,33.9,18.2,14.1,83977,Greater Dandenong (C)

In [22]:
# 去掉括号
desired_columns = [' persons_num', ' lga_name17']
filtered_vic_df = victoria_data[desired_columns]
filtered_vic_df[' lga_name17'] = df[' lga_name17'].str.replace(r'\(.*?\)', '', regex=True)

# 去掉多余空白
filtered_vic_df[' lga_name17'] = filtered_vic_df[' lga_name17'].str.strip()

filtered_vic_df.to_csv('./geo/population_2017.csv', index = False)

C:\Users\Phoenix\AppData\Local\Temp\ipykernel_36368\3714286415.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_vic_df[' lga_name17'] = df[' lga_name17'].str.replace(r'\(.*?\)', '', regex=True)
C:\Users\Phoenix\AppData\Local\Temp\ipykernel_36368\3714286415.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_vic_df[' lga_name17'] = filtered_vic_df[' lga_name17'].str.strip()

In [31]:
# 小写改大写
df = pd.read_csv('./geo/population_2017.csv')
df[' lga_name17'] = df[' lga_name17'].str.upper()

# 去掉多余空格
df = df.rename(columns={' persons_num': 'persons_num', ' lga_name17': 'lga_name17'})

In [32]:
df.to_csv('./geo/population_2017.csv', index = False)

In [33]:
jason_pop_2017 = df.to_json('./geo/jason_pop_2017.json', orient='records', indent=4)
jason_pop_2017